.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    padding: 10px 20px;
    position: sticky;
    margin-top: 0;
}

.nav-links{
    display: flex;

}

.nav-links a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
}