.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    border-radius: 15px;
    position: sticky;
    margin-top: 0;
}

.nav-links{
    display: flex;

}

.nav-links a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
}
.nav-links a:hover{
    color: yellow;
}

.logo{
    color: white;
    font-size: 30px;
    font-weight: bold;
    transition: tranfosform 0.5s, color 0.3s;
}

.logo:hover{
    transform: scale(1.2);
    color: yellow;
}
.pesquisar-conteiner{
    display: flex;
    gap: 10px;
}

.pesquisar-input{
    padding: 5px 10px;
    background-color: rgb(49, 49, 49);
    color: white;
    border: 1px white solid;
    border-radius: 4px;
    font-size: 14px;
    transition: transform 0.5s, border-color 0.3s;
}

.pesquisar-input:hover{
    border-color: white;
    transform: scale(1.05);
}

.pesquisar-botao{
    padding: 5px 10px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    transition: transform 0.5s, background-color 0.3s;
}

.pesquisar-botao:hover{
    background-color: grey;
    transform: scale(1.1);
}